html, body {
	width: 100%;
	background-color: #f5f5f1;
}

body {
	padding: 2em;
	color: #444;
}

nav {border-bottom: 1px solid #ccc;}

img {
	min-width: 100%;
	border-radius: 3px;
	margin: 0;

}

section {
	margin-top: 16px;
}

#content {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
}

.search-result {
	width: 30%;
	margin: 0.25em;
	-webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.3);
	box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.3);
	border-radius: 3px;

}

.details {
	background-color: white;
	padding: 0.5em;
	margin-top: -4px;
	}

.item-title {
	overflow: hidden;
	whitespace: no-wrap;

}

.item-title a {
	text-decoration: none;
	font-size: 0.85em;
	color: #444;
	display: inline;
	position: relative;
}